<h1>Edit Password</h1>

<%= form_with model: Current.user, url: update_password_path, method: :patch do |form| %>
  <%= render "shared/form_errors", form: form %>
  <div class="mb-3">
    <%= form.label :password %>
    <%= form.password_field :password, class: "form-control", placeholder: "12345678" %>
  </div>
  <div class="mb-3">
    <%= form.label :password_confirmation %>
    <%= form.password_field :password_confirmation, class: "form-control", placeholder: "12345678" %>
  </div>
  <div class="mb-3">
    <%= form.submit "Update password", class: "btn btn-primary" %>
  </div>
<% end %>